.DS_Store

.AppleDouble
.LSOverride

._*

build/
**/docs/
**/slather_reports/
**/swiftlint-results.xml
DerivedData/
xcuserdata/

*.moved-aside
*.xccheckout
*.xcscmblueprint

**/Carthage/Checkouts
**/Carthage/Build

**/fastlane/report.xml
**/fastlane/test_output
**/fastlane/cobertura_report.xml
**/fastlane/converter.swift
**/fastlane/xccov_report.json

*.hmap
*.ipa
*.dSYM.zip
*.dSYM

**/GeneratedMocks.swift
